.detail-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid  blueviolet;
    margin-top: 1rem;
    user-select: none;
    cursor: pointer;

}

.detail-image-container{
    height: 35rem;
    width: 40rem;
    overflow: hidden;
}

.image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
    filter: brightness(100%);
}

.detail-details {
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: left;
}