.header-top {
    position: sticky;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: rgba(9, 132, 107, 0.975);
    height: 3rem;
}

.header-top span {
    font-size:xx-large;
    margin-left: 8rem;
}