.card {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    flex-direction: column;
    border: 2px solid  rgb(76, 126, 126);
    background-color: rgb(212, 237, 229);
    margin-top: 1rem;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.card:hover{
    border: 2px dotted  rgb(136, 119, 151);
}

.image-container{
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
    filter: brightness(100%);
}

.details {
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: center;
}