.body{
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.detail-div {
    display: flex;
    position: fixed;
    top: 4rem;
    justify-content: center;
    left: 35rem;
    height: 38rem;
    align-items: center;
    width: 40rem;
} 

.header-top {
    position: sticky;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: red;
    height: 3rem;
}

.header-top span {
    font-size:xx-large;
    margin-left: 8rem;
}